<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center">Cadastro</h2>
        <form method="POST" action="{% url 'cadastro2' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <input type="text" class="form-control" id="descricao" name="descricao" required>
            </div>
            <div class="mb-3">
                <label for="preco" class="form-label">Preço:</label>
                <input type="text" class="form-control" id="preco" name="preco" required>
            </div>
            <div class="mb-3">
                <label for="duracao" class="form-label">Duração:</label>
                <input type="text" class="form-control" id="duracao" name="duracao" required>
            </div> 
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

    </div>
</body>
</html>